table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .error{
    color: red;
    font-size: 12px;
  }

  .NameImage{
    /* height:100px; */
    width: 15px;
    /* margin: 10px */
    padding-right: 5px;

  }